pipeline/Incremental_Load.json
{
	"name": "Incremental_Load",
	"properties": {
		"activities": [
			{
				"name": "Get Last Updated Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select [LastLoadDate] as LastLoadDate\nfrom tblControl\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTable_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Get Max Modified Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max([Last_m]) as Last_m\nfrom tbluser\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTable_Source",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy new data only",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Updated Date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Max Modified Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from tbluser\nWhere Last_m <=\n '@{activity('Get Max Modified Date').output.firstRow.Last_m} ' \nAnd Last_m > \n '@{activity('Get Last Updated Date').output.firstRow. LastLoadDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AzureSqlTable_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Destination_AzureSQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update control table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy new data only",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SPUpdateLoadInfo]",
					"storedProcedureParameters": {
						"ModifiedDate": {
							"value": {
								"value": "@{activity('Get Max Modified Date').output.firstRow.Last_m}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "'tbluser'",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseSourceDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-07-05T14:13:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}